---
---

<section class="features text-center py-5">
  <div class="container">
    <h2 class="display-4 mb-5">Features</h2>
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="feature-box p-4 rounded shadow">
          <i class="fas fa-wine-glass-alt fa-3x mb-3 "></i>
          <h3 class="h4">Personal</h3>
          <p>Winy can provide <span class="text-warning">customized</span> wine and food pairing suggestions based on user preferences,
             dietary restrictions, and specific occasions. It could recommend wines based on the user's taste profile.
          </p>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="feature-box p-4 rounded shadow">
          <i class="fas fa-search fa-3x mb-3"></i>
          <h3 class="h4">Comprehensive</h3>
          <p>Winy can access an <span class="text-warning">extensive</span> database of wines and foods, including information about different wine varietals,
            regions, vintages, and detailed descriptions of various dishes and ingredients.</p>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="feature-box p-4 rounded shadow">
          <i class="fas fa-utensils fa-3x mb-3"></i>
          <h3 class="h4">Contextual </h3>
          <p>Winy can provide <span class="text-warning">context-specific</span> advice, such as recommending wines that complement the cooking style or sauce used in a dish,
            or suggesting pairings that enhance the dining experience for specific cultural or seasonal contexts.</p>
        </div>
      </div>
    </div>
  </div>
</section>
