---
---

<header>
  <div class="header-content">
    <img src="/images/winyw.svg" alt="Logo" class="logo" />
    <nav>
      <ul>
        <li><a href="#intro">Intro</a></li>
        <li><a href="#features">Features</a></li>
        <li><a href="#showcase">Showcase</a></li>
      </ul>
    </nav>
  </div>
</header>