---
---

<section class="intro d-flex flex-column align-items-center justify-content-center text-center py-5">
  <h2 class="display-4 mb-4">Winy</h2>
  
  <div class="intro-content text-center p-4 rounded shadow intro-box">
    
    <p class="display-intro font-weight-bold">
      Winy is an <span class="text-warning">AI</span> personal assistant, built to
      <span class="text-warning">help</span> you choose the best wine.</br>
      <span class="text-warning">Fast and precise</span>,
      it suggests you <span class="text-warning">the best pairing</span> with your preferred food.
    </p>
  </div>
</section>
