---
---

<div class="splash d-flex flex-column justify-content-center align-items-center text-center">
  <img width="100" height="80" src="/images/winyw.svg" alt="Logo" class="img-fluid" />
  <h1 class="gradient-text display-2 font-weight-bold">Pair wines with food</h1>
  <p class="gradient-text lead font-weight-bold">was never that easy</p>
</div>
