---
---

<div class="splash d-flex flex-column justify-content-center align-items-center text-center">
  <img src="/images/winyw.svg" alt="Logo" class="mb-4" />
  <h1 class="gradient-text display-2 font-weight-bold">Pair wines with food</h1>
  <p class="gradient-text lead font-weight-bold">was never that easy</p>
</div>
